*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../Imagenes/fondo.jpg);
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 40px solid darkblue;
}

.logo{
    width: 5%;
}

/*------------*/

nav{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}

.foto_izquierda{
    width: 20%;
}

.foto_derecha{
    width: 20%;
}

.menu li a{
    display: block;
    text-decoration: none;
    padding: 1.5rem;
    color: black;
}

.menu > li{
    list-style: none;
}

.ul1{
    position: absolute;
}

.li1{
    border-right: 1px solid;
}

.li2{
    border-left: 1px solid;
    border-right: 1px solid;
}

.li3{
    width: 10%;
    background-color: white;
    list-style: none;
}

.menu > li{
    float: left;
}

.menu li ul{
    display: none;

}
    
.menu li:hover >ul{
    display: inline-block;
    flex-wrap: wrap;
    width: 100%;
}
    
.menu li a:hover{
    background-color: lightskyblue;
}

/*------------*/

.titulo{
    text-align: center;
    width: 100%;
    margin-top:1em;
    font-size: 15px;
}

/*------------*/

.section0{
    margin-top: 1em;
    width: 100%;
}

.section0 > h2{
    width: 0px;
    height: 0px;
}

.intro > h2{
    width: 0px;
    height: 0px;
}

.inro{
    width: 100%;
}

.intro > p{
    width: 100%;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 18px;
}

/*------------*/

h3{
    margin-top: 1em;
    margin-left: 2%;
}

.lo{
    margin-left: 5%;
    font-size: 18px;
}

/*------------*/

table, th, td{
    border: 1px solid;
    border-collapse: collapse;
    padding: 0.5rem;
}

th{
    background-color: lightgrey;
}

.tipo{
    background-color: rgb(198, 235, 242); 
    font-weight: bold;
}

.materias{
    background-color: rgb(220, 244, 249);
}

/*------------*/

.section1{
    width: 100%;
    margin-top: 1.5em;
}

.section1 > table{
    margin: 0 auto;
    width: 50%;
}

/*------------*/

.section2{
    width: 100%;
    margin-top: 1.5em;
}

.section2 > table{
    margin: 0 auto;
    width: 60%;
}

/*------------*/

.section3{
    width: 100%;
    margin-top: 1.5em;
}

.section3 > table{
    margin: 0 auto;
    width: 70%;
}

/*------------*/

.section4{
    width: 100%;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.section4 > table{
    margin: 0 auto;
    width: 80%;
}

.ul{
    margin-left: 5%;
}

/*------------*/

footer{
    background-color: darkblue;
    margin-top: 3em;
    color: white;
    height: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.div1{
    width:60%;
    text-align: center;

}

.div2{
    width: 40%;
    text-align: center;
}

.educacion{
    width: 10%;
    border-radius: 20px;
}

.facebook{
    width: 10%;
    border-radius: 20px;
}